@font-face {
    font-family: 'sov_thanamasregular';
    src: url('/assets/fonts/sov_thanamas-webfont.woff2') format('woff2'),
         url('/assets/fonts/sov_thanamas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sov_thanamasbold';
    src: url('/assets/fonts/sov_thanamas-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/sov_thanamas-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'uid_salmon_2019regular';
    src: url('/assets/fonts/uid_salmon_2019_-webfont.woff2') format('woff2'),
         url('/assets/fonts/uid_salmon_2019_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'maajaregular';
    src: url('/assets/fonts/maaja_ver_1.00-webfont.woff2') format('woff2'),
         url('/assets/fonts/maaja_ver_1.00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'crimson_skyline_demoregular';
    src: url('/assets/fonts/crimson_skyline_demo-webfont.woff2') format('woff2'),
         url('/assets/fonts/crimson_skyline_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("/assets/fonts/fa-regular-400.eot");
    src: url("/assets/fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/fa-regular-400.woff2") format("woff2"), 
    url("/assets/fonts/fa-regular-400.woff") format("woff"), 
    url("/assets/fonts/fa-regular-400.ttf") format("truetype"), 
    url("/assets/fonts/fa-regular-400.svg") format("svg"); }
  
  .far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400; }
  

